
@{

    string title = "Movie Detail";

}



@model MovieWeb.Models.MovieDetailViewModel;



<h2>@title</h2>



<strong>Title</strong>

<p>@Model.Title</p>



<strong>Description</strong>

<p>@Model.Description</p>



<strong>Genre</strong>

@{

    if (string.IsNullOrEmpty(Model.Genre))

    {

        <p>No genre specified.</p>

    }

    else

    {

        <p>@Model.Genre</p>

    }

}





<strong>Release Date</strong>

<p>@Model.ReleaseDate.ToShortDateString() </p>

<p>@CalculateReleaseDateMessage(Model.ReleaseDate)</p>





@functions{

    string CalculateReleaseDateMessage(DateTime releaseDate)

    {

        if (releaseDate.Date <= DateTime.Today.Date)

        {

            return "Out now";

        }

        else

        {

            double diffDays = (releaseDate - DateTime.Today).TotalDays;

            if (diffDays == 1)

            {

                return $"The movie comes out tomorrow.";

            }

            else

            {

                return $"The movie comes out in {diffDays} days.";

            }



        }

    }

}